<%- include("header") -%>


<h1> THIS IS A TO DO LIST APP</h1>
<p> 
  
    About Our To-Do List Page
    Welcome , your go-to destination for efficient task management and productivity! Our mission is to simplify your daily life by providing a user-friendly and feature-rich to-do list experience.
</p>

<%- include("footer") -%>